configparser # backport from 3 to 2, optional 3.5+
fabric3
mysqlclient
Paramiko
python-dateutil
python-blazarclient>=1.1.1
python-glanceclient
python-keystoneclient
python-neutronclient
python-novaclient>=7.1.0,<8.0.0 # still with floating ip management
requests
