configparser # backport from 3 to 2, optional 3.5+
mysqlclient
python-dateutil
requests
jinja2
keystoneauth1
python-keystoneclient
python-ironicclient
python-blazarclient
prometheus-client==0.0.13
cmd2==0.8.9
fabric

# dev/deploy
invoke
twine
wheel
